<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mi App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            >Proyecto 2</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ejercicio1" routerLinkActive="active"
            >Ejercicio 1</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ejemplo3" routerLinkActive="active"
            >Proyecto 3</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ejemplo4" routerLinkActive="active"
            >Ejemplo 4</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ejemplo5" routerLinkActive="active"
            >Ejemplo 5</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
