<div>
  <h1>Catálogo de Productos</h1>

  @if (listaProductos.length) {
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Seleccionar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for (producto of listaProductos; track producto.id) {
      <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>
          <button
            type="button"
            class="btn btn-warning"
            (click)="seleccionarProducto(producto)"
          >
            Seleccionar
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="eliminarProducto(producto.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <h3>NO HAY PRODUCTOS</h3>
  }
  <div>
    <p>ID: <input type="text" [(ngModel)]="producto.id" /></p>
    <p>Descripcion: <input type="text" [(ngModel)]="producto.descripcion" /></p>
    <p>Precio: <input type="text" [(ngModel)]="producto.precio" /></p>
    <p>
      <button type="button" class="btn btn-primary" (click)="agregarProducto()">
        Agregar
      </button>
    </p>
    <p>
      <button
        type="button"
        class="btn btn-primary"
        (click)="modificarProducto()"
      >
        Modificar
      </button>
    </p>
  </div>
</div>

<router-outlet></router-outlet>
